In [2]:
import pandas as pd
df=pd.read_csv("E:/Two Suns/Automobile_data.csv")
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [4]:
#find missing values
df.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [5]:
#dividing into categorical and numerical values

numerical_df = df.select_dtypes(include=['number'])
numerical_df

     symboling  width  height  engine-size  city-mpg  highway-mpg  price
0            3   64.1    48.8          130        21           27  13495
1            3   64.1    48.8          130        21           27  16500
2            1   65.5    52.4          152        19           26  16500
3            2   66.2    54.3          109        24           30  13950
4            2   66.4    54.3          136        18           22  17450
..         ...    ...     ...          ...       ...          ...    ...
200         -1   68.9    55.5          141        23           28  16845
201         -1   68.8    55.5          141        19           25  19045
202         -1   68.9    55.5          173        18           23  21485
203         -1   68.9    55.5          145        26           27  22470
204         -1   68.9    55.5          141        19           25  22625

[205 rows x 7 columns]

In [6]:
categorical_df = df.select_dtypes(include=['object', 'category'])
categorical_df

,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,engine-type,horsepower
0,?,alfa-romero,gas,convertible,rwd,front,dohc,111
1,?,alfa-romero,gas,convertible,rwd,front,dohc,111
2,?,alfa-romero,gas,hatchback,rwd,front,ohcv,154
3,164,audi,gas,sedan,fwd,front,ohc,102
4,164,audi,gas,sedan,4wd,front,ohc,115
...,...,...,...,...,...,...,...,...
200,95,volvo,gas,sedan,rwd,front,ohc,114
201,95,volvo,gas,sedan,rwd,front,ohc,160
202,95,volvo,gas,sedan,rwd,front,ohcv,134
203,95,volvo,diesel,sedan,rwd,front,ohc,106
204,95,volvo,gas,sedan,rwd,front,ohc,114

In [ ]:
#What are the major factors influencing vehicle price?


#How does brand reputation (e.g., BMW vs. Toyota) correlate with pricing